---
import Base from "./Base.astro";

const { frontmatter } = Astro.props;
---

<Base title={frontmatter.title}>
	<div id="header">
		<h1 id="postTitle">{frontmatter.title}</h1>
		<p id="postDescription">{frontmatter.description}</p>
		<span>Originally Published: <date>{frontmatter.published}</date></span>
		<span>Last Edited: <date>{frontmatter.edited}</date></span>
	</div>
	<slot />
</Base>

<style>
	#header {
		width: max-content;
		padding-bottom: 1em;
		margin-bottom: 1em;

		h1 {
			font-size: 3em;
		}

		span {
			display: block;
		}

		span,
		date {
			font-style: italic;
		}
	}
</style>
